<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070041794303-l3c44v0flojpnrkapdroamnnd1j5tdi6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070041794303-l3c44v0flojpnrkapdroamnnd1j5tdi6</string>
	<key>API_KEY</key>
	<string>AIzaSyDhz-aA3-RM--QkuNfgrDULn1y31z3r24c</string>
	<key>GCM_SENDER_ID</key>
	<string>1070041794303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>streaming-manage-app</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>REVERSED_CLIENT_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1070041794303-l3c44v0flojpnrkapdroamnnd1j5tdi6</string>
			</array>
		</dict>
	</array>
	<key>STORAGE_BUCKET</key>
	<string>streaming-manage-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070041794303:ios:dfb096aea60f29754a6eca</string>
</dict>
</plist>